{% extends 'base.html' %}
{% block title %}
	Diary
{% endblock %}
{% block content %}
<script src="https://cdn.tiny.cloud/1/7ycmwc1x5jcxbm0s80s67b2fipepck73uh51jlmwawhneu95/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  <textarea id="mytextarea" onchange="update(this)">
    Welcome to TinyMCE!
  </textarea>

  <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    const update = () => {
	    let content = tinymce.get('mytextarea').getContent();

	    console.log(content);
    }

    let click = document.getElementById("click");

  </script>
{% endblock %}