{% extends 'base.html' %}
{% block title %}
	Diary | List
{% endblock %}
{% block content %}
<div>
	<!-- script for the tinymce -->
	<script src="https://cdn.tiny.cloud/1/7ycmwc1x5jcxbm0s80s67b2fipepck73uh51jlmwawhneu95/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

	<h3>Hard Wood Laminate</h3>
	<div id="list">
		<label for="interval">Interval:</label>
		<select id="interval" onchange="updateTableOnIntervalChange(this)">
			<option value=7>1 Week</option>
		    <option value=93>3 Months</option>
		    <option value=186>6 Month</option>
		    <option value=365>1 Year</option>
		    <option value=744>2 Years</option>
		    <option value=1116>3 Years</option>
		</select>
		<!-- <a href="{{diary_create}}" class="btn btn-success" id="create-diary-btn">create diary</a> -->
		<button onclick="displayUpdateCreate(this)" class="btn btn-success">new entry</button>
		<div id="table-div">
		</div>
	</div>

	<div id="detail">
		<!-- display list -->
		<button onclick="displayList(this)" id="show-table-btn">show table</button>
		<button onclick="displayUpdate(this)" id="show-table-btn">update</button>
		<div id="content-div">
		</div>
	</div>

	<div id="create-update">
		<p>
			<label for="id_title">Title:</label> 
			<input type="text" name="title" maxlength="32" required="" id="id_title">
		</p>

		<textarea id="mytextarea">
			Welcome to TinyMCE!
		</textarea>

		<button onclick="post(this)">post</button>
		<button onclick="update(this)">update</button>
		<button onclick="displayList(this)">go back</button>
	</div>
</div>

	<script>
		let diary_data = [];
		let filteredData = [];
		let selected_index = null;

		let post_domain = '{{domain}}';
		let update_domain = 'diary_detail_api/';


		// initialize tiny mce
		tinymce.init({
    		selector: '#mytextarea',
			plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
			toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
			toolbar_mode: 'floating', 
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name', 
		});

		// get the data from the server
		const get_data = async () => {
			const res = await fetch('{{domain}}?interval='+interval.value);
			const data = await res.json();
			// set the variable
			diary_data = data;
			return data;
		}

		const update_selected_index = (e) => {
			// the index of the selected element
			selected_index = e.srcElement.parentNode.id;
			displayContent(diary_data[selected_index]);

			// display detail
			displayDetail();
		}

		const displayList = () => {
			listDiv.style.display = "block";

			// hide detail
			detailDiv.style.display = "none";

			// hide create
			createUpdateDiv.style.display = "none";
		}
			
		const displayDetail = () => {
			detailDiv.style.display = "block";

			// hide list
			listDiv.style.display = "none";
		}

		const displayUpdateCreate = () => {
			createUpdateDiv.style.display = "block";

			// hide list
			listDiv.style.display = 'none';
		}

		// update
		const displayUpdate = () => {
			displayUpdateCreate();
			const data = diary_data[selected_index];
			diaryTitle.value = data['title'];
			tinymce.get("mytextarea").setContent(data['content']);

			// hide detail
			detailDiv.style.display = 'none';
		}

		const displayContent = (content) => {
			contentDiv.innerHTML = "";
			contentDiv.innerHTML = "<p>" + content["title"] + "<br>" + content["timestamp"] + "</p>";
			contentDiv.innerHTML += content["content"];
		}

		// update the table when the interval is changed
		const updateTableOnIntervalChange = async () => {
			// get the data
			const data = await get_data();
			createTable();
		}

		// create a table base on fund and category
		const createTable = (e) => {
			let diaries = diary_data;
			// table to tabulate all of the expense data
			let table = document.createElement("TABLE");
			table.className = "table table-striped";
			// loop thriugh all the expense data
			// and create a row for each expense entry
			diaries.forEach((diary, i) => {
				// insert a row on table for each expense entry
				let row = table.insertRow(i);
				row.id = i;
				row.onclick = update_selected_index;
				// the properties of the expense such as desctription, price, ...etc
				let diary_properties = Object.keys(diary);
				diary_properties.forEach((diary_property, j) => {
					// the value of the expense property i.e. description="pambili ng ulam"
					let diary_property_value = diary[diary_property];
					// add the cells that contain the properties of the expenses
					let cell = row.insertCell(j);
					if(diary_property == 'content' || diary_property == 'user' || diary_property == 'id'){
						// do nothing if the property is the content
					}else{
						cell.innerHTML = diary_property_value;
					}
				});
			});
			// empty the div first before adding the new table
			tableDiv.innerHTML = '';
			tableDiv.appendChild(table);
		}

		// initialize the list
		const initialize = async () => {
			let data = await get_data();
			createTable();
			displayList();
		}

		// create
		const get_diary_data = (type, domain) => {
			const url = domain;
			const csrftoken = getCookie('csrftoken');
			const diary_data = {
				title: diaryTitle.value,
				content: tinymce.get("mytextarea").getContent()
			};

			const request = new Request(url, {
				method: type,
				body: JSON.stringify(diary_data),
				headers: new Headers({
					'Content-Type': 'application/json',
					'X-CSRFToken': csrftoken
				})
			});

			return request;
		}

		const post = async () => {
			const request = get_diary_data('POST', post_domain);
			const res = await fetch(request);
			const data = await res.json();

			// add the new data to the diary data
			diary_data.push(data);

			// update the table
			createTable();

			// hide the create
			createUpdateDiv.style.display = 'none';

			// display the list
			listDiv.style.display = "block";
		}

		const update = async () => {
			const request = get_diary_data('PUT', update_domain+data[selected_index].id);
			const res = await fetch(request);
			const data = await res.json();

			// replace the updated content
			diary_data[selected_index] = data;

			// update the table
			createTable();

			// hide the create
			createUpdateDiv.style.display = 'none';

			// display the list
			listDiv.style.display = "block";			
		}

		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		// diary list conponent
		const listDiv = document.getElementById("list");
		const tableDiv = document.getElementById("table-div");
		const createDiaryBtn = document.getElementById("create-diary-btn");
		const intervalDiv = document.getElementById("interval-div");


		// detail
		const detailDiv = document.getElementById("detail");
		const contentDiv = document.getElementById("content-div");
		const showTableBtn = document.getElementById("show-table-btn");

		// create and update
		const createUpdateDiv = document.getElementById('create-update');
		let diaryTitle = document.getElementById('id_title');
		const mytextarea = document.getElementById('mytextarea');

		initialize();
	</script>
{% endblock %}