{% extends 'base.html' %}
{% block title %}
	Diary | List
{% endblock %}
{% block content %}
<div>
	{% load static %}
	<!-- script for the tinymce -->
	<script src="https://cdn.tiny.cloud/1/7ycmwc1x5jcxbm0s80s67b2fipepck73uh51jlmwawhneu95/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

	<h3>Hard Wood Laminate</h3>
	<div id="search">
		<label for="search">Search</label>
		<input type="text" name="search" id="search-field">
	</div>
	<div id="list">
		<label for="interval">Interval:</label>
		<select id="interval">
			<option value=7>1 Week</option>
		    <option value=93>3 Months</option>
		    <option value=186>6 Month</option>
		    <option value=365>1 Year</option>
		    <option value=744>2 Years</option>
		    <option value=1116>3 Years</option>
		</select>
		<button class="btn btn-success" id="new-entry-btn">new entry</button>
		<div id="table-div">
		</div>
	</div>

	<div id="detail">
		<!-- display list -->
		<button id="show-table-btn">show table</button>
		<button id="display-update-btn">update</button>
		<button id="display-delete-btn">delete</button>
		<div id="content-div">
		</div>
	</div>

	<div id="create-update">
		<p>
			<label for="id_title">Title:</label> 
			<input type="text" name="title" maxlength="32" required="" id="id_title">
		</p>

		<textarea id="mytextarea">
			Welcome to TinyMCE!
		</textarea>

		<button id="post-btn">post</button>
		<button id="update-btn">update</button>
		<button id="go-back-btn">go back</button>
	</div>

	<div id="delete">
		<p id="confirmation-p">Are you sure to want to delete: </p>
		<button id="delete-yes-btn">yes</button>
		<button id="delete-no-btn">no</button>
	</div>
</div>
<script type="text/javascript" src='{% static "js/custom.js" %}'></script>
<script type="text/javascript" src="{% static 'js/diary.js' %}" defer></script>
{% endblock %}