{% extends 'base.html' %}
{% block title %}
	Diary | Home
{% endblock %}
{% block content %}
		<ul class="nav">
			<li class="nav-item">
				<a href="{{go_home_link}}" class="nav-link">Home</a>
			</li>
		</ul>

	<form method = "GET">
	    {{ form }}
	    <input type = "submit" value = "Submit">
	</form>
	<h3>{{entry_date}}</h3>
	<table class="table table-striped">
		<tr>
			<th>title</th>
			<th>content</th>
		</tr>
		{% for entry, detail_link in diary_details %}
			<tr>
				<td><a href="{{detail_link}}">{{entry.title}}</a></td>
				<td>{{entry.content}}</td>
			</tr>
		{% endfor %}
	</table>
	<a href="{{add_diary_link}}" class="btn btn-success" role="button">add diary</a>
	
	{% if is_paginated %}
    	{% include "income/_pagination.html" %}
	{% endif %}
{% endblock %}