{% extends 'income_base.html' %}

{% block content %}
		<ul class="nav">
			<li class="nav-item">
				<a href="{{go_home_link}}" class="nav-link">Home</a>
			</li>
		</ul>

	<form method = "GET">
	    {{ form }}
	    <input type = "submit" value = "Submit">
	</form>
	<h3>{{entry_date}}</h3>
	<table class="table table-striped">
		<tr>
			<th>name</th>
			<th>description</th>
			<th>category</th>
			<th>amount</th>
			<th>timestamp</th>
		</tr>
		{% for entry, detail_link in income_details %}
			<tr>
				<td><a href="{{detail_link}}">{{entry.name}}</a></td>
				<td>{{entry.description}}</td>
				<td>{{entry.category}}</td>
				<td>{{entry.amount}}</td>
				<td>{{entry.timestamp}}</td>
			</tr>
		{% endfor %}
	</table>
	<a href="{{add_fund_link}}" class="btn btn-success" role="button">add fund</a>
	
	{% if is_paginated %}
    	{% include "income/_pagination.html" %}
	{% endif %}
{% endblock %}