{% extends 'diary_base.html' %}

{% block content %}
	<div class="card">
	    <div class="card-header">
	        <h5 class="card-title">Income Details #{{list.id}}</h5>
	    </div>
	    <div class="card-body">
	    <dl class="row">
	      <dt class="col-sm-3">Title</dt>
	      <dd class="col-sm-9">{{ list.title}}</dd>
	      <dt class="col-sm-3">Description</dt>
	      <dd class="col-sm-9">{{ list.description}}</dd>
	      <dt class="col-sm-3">Date</dt>
	      <dd class="col-sm-9">{{ list.timestamp}}</dd>
	    </dl>
	    <a href="{{list_entry_home_link}}" class="btn btn-info">List Entries</a>
	    </div>
	</div>
	<a href="{{update_link}}" class="btn btn-success">update</a>
	<a href="{{delete_link}}" class="btn btn-danger">delete</a>
	<a href="{{go_back_link}}" class="btn btn-info">go back</a>
{% endblock %}